/* global */

body, html {
  margin: 0;
}

/* nav  */





/* Intro */

.intro_container {
    background: url(./Images/profile_img.jpg) no-repeat fixed center bottom;
	background-size: cover;
    height: 80vh;
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
}

.info_container img {
 border-radius: 45%;
 width: 100px;
}

.info_container h1 {
    color: aliceblue;
}

@media (min-width: 768px) {
    .info_container {
        flex-direction: row;
    }
}
