/* global */

body {
    margin: 0;
}






/* nav  */

nav {
    display: flex;
    border-bottom: 1px solid black;
    padding: 0.5em 1em;
}

#nav_bar_img {
    width: 10%;
    height: 10%;
}

nav ul {
    display: flex;
    text-transform: uppercase;
    list-style: none;
}