/* global */

body {
    margin: 0;
}






/* nav  */

.mobile_menu {
    display: none;
    border-bottom: 1px solid black;
    padding: 0.5em 1em;
}

#nav_bar_img {
    width: 10%;
    height: 10%;
}

nav ul {
    display: flex;
    text-transform: uppercase;
    list-style: none;
}

.mobile-menu li a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
}