/* global */

body {
  margin: 0;
}

/* nav  */





#nav_bar_img {
  width: 10%;
  height: 10%;
}

nav ul {
  display: flex;
  text-transform: uppercase;
  list-style: none;
}

.mobile-menu li {
  margin-bottom: 10px;
}




